.app {
  width: 500px;
  margin: 1em auto;
  text-align: center;
}

.app img {
  max-width: 150px;
}
.todo-form{

}
.todo-form input{
  
}
.todo-counter{
  
}
.todo-list{
  
}
.todo-item{

}
.todo-item__checkbox{

}
